<html>
     <head>
         <title>to do list</title>
         <link rel="stylesheet" href="index.css">
         <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script type= "text/javascript" src="index.js"></script>
     </head>
     <body>
      <h1>Luke's to do list</h1>
         <ul>
             <li>
              <input type="checkbox">
              <a href= "show/1"> do homework</a>
             <span class= "time-estimate"> 45 minutes </span>
              </li>
              <li>
              <input type="checkbox">
             <a href= "show/2"> text grandma</a>  
             <span class= "time-estimate"> 15 minutes</span>
              </li>
              <li>
              <input type="checkbox">
             <a href= "show/3"> feed dog</a>
             <span class= "time-estimate">5 minutes</span>
              </li>
             <li>
              <input type="checkbox">
              <a href= "show/4"> see teacher after school</a> 
              <span class= "time-estimate">30 minutes
              </li>
         </ul>
         <div>
         <input id= "Add-todo-textbox" type= "text" placeholder= "add to do">
         <input id= "add-length-textbox" type= "number" placeholder= "add approximate length">
         <input id="add-to-do-button" type= "submit" value= "add">
         </div>
    </body>
</html>