         <h1>Luke's to do list</h1>
         <h2><%=@todoname%></h2>
         <span><%=@todopomodoro%></span>
        <a href= "/todo/index"><input id="go-back-button" type= "submit" value= "go-back"> </a>
        <input id="delete-button" type= "submit" value= "delete">
        <input id="edit-button" type= "submit" value= "edit">
       